<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width">
 
  <title>368 Website Starter</title>
 
  <link rel="stylesheet" href="http://necolas.github.io/normalize.css/3.0.2/normalize.css">  
  <link rel="stylesheet" href="css/styles.css">	
	
</head>
<body>
 
 
<main>  
  	<h1>368 Website Starter</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet tempore tempora voluptas voluptatem minima, sed quis aliquam sunt quibusdam, distinctio cum totam rerum natus deserunt dignissimos consequatur. Accusamus, velit, ab.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet tempore tempora voluptas voluptatem minima, sed quis aliquam sunt quibusdam, distinctio cum totam rerum natus deserunt dignissimos consequatur. Accusamus, velit, ab.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet tempore tempora voluptas voluptatem minima, sed quis aliquam sunt quibusdam, distinctio cum totam rerum natus deserunt dignissimos consequatur. Accusamus, velit, ab.</p>
</main>
  
  
<aside>
  <nav>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </nav>
</aside>
  
<footer>
  <p>Copyright 2015</p>
</footer>
  
</body>
</html>
